/Debug/inc/subdir.mk
/Debug/objects.mk
/Debug/sources.mk
/Debug/makefile
/Debug/src/application.d
/Debug/src/application.o
/Debug/src/control_elements.d
/Debug/src/control_elements.o
/Debug/src/dispatchers.d
/Debug/src/dispatchers.o
/Debug/src/frame.d
/Debug/src/frame.o
/Debug/src/gui.d
/Debug/src/gui.o
/Debug/src/kasino_exception.d
/Debug/src/kasino_exception.o
/Debug/src/logger.d
/Debug/src/logger.o
/Debug/src/main.d
/Debug/src/main.o
/Debug/src/packet_receiver.d
/Debug/src/packet_receiver.o
/Debug/src/queues.d
/Debug/src/queues.o
/Debug/src/round.d
/Debug/src/round.o
/Debug/src/subdir.mk
/Debug/src/windows.d
/Debug/src/windows.o
/Debug/kasino
/Debug/src/image_saver.d
/Debug/src/image_saver.o
/Debug/src/video_writer.d
/Debug/src/video_writer.o
/gui/frame_window.glade~
/gui/main_window.glade~
/Debug/src/support.d
/Debug/src/support.o
/gui/status_window.glade~
/Debug/src/frame_analysator.d
/Debug/src/frame_analysator.o
/Debug/src/thread.d
/Debug/src/thread.o
